<div class="testimonials">
  <div class="container-center">
    <h2>Testimonials from our guests</h2>
    <section class="row">
      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img1 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Mariana Rodríguez</h5>
          <p>"We had a spectacular weekend. The location is ideal for
            Explored the area and the house had all the amenities we needed. Highly recommended!"</p>
        </div>
      </div>
      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img2 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Andrea Martínez</h5>
          <p>"My stay was amazing. The tranquility of the town and the
            comfort of the house made my getaway perfect. I will definitely come back!"</p>
        </div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Laura Sánchez</h5>
          <p>"The house exceeded all our expectations. We enjoy the tranquility of
            environment and natural beauty. Definitely a place to relax and unwind."</p>
        </div>
        <div class="rounded-image img3 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Carlos Pérez</h5>
          <p>"Our visit to Lake Sanabria was unforgettable. We rented kayaks and explored the stunning lake.
            An experience we will never forget!"</p>
        </div>
        <div class="rounded-image img4 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>
    </section>
  </div>
</div>
